<nav>
  <div class='flex items-center py-4 docs-container'>
    {{#docs-navbar/link 'index'}}
      <div class="text-center text-xs">
        {{#if logo}}
          <div class='h-4 pb-1'>
            {{docs-logo logo=addonLogo}}
          </div>
        {{/if}}
        <span class='font-medium normal-case'>{{addonName}}</span>
      </div>
    {{/docs-navbar/link}}
    {{#docs-navbar/link 'docs'}}
      Documentation
    {{/docs-navbar/link}}

    {{yield (hash
      link=(component 'docs-navbar/link')
    )}}

    <div class="ml-auto flex items-center">
      {{!-- {{docs-viewer/x-search}} --}}

      <a href="{{packageJson.repository}}/releases"
        class='transition flex text-black opacity-75
        no-underline hover:opacity-50'>
        v{{packageJson.version}}
      </a>

      {{#if packageJson.repository}}
        <a href={{packageJson.repository}}
          class='transition flex text-black opacity-75
          no-underline hover:opacity-50 ml-8'>
          {{svg-jar 'github' width=24 height=24}}
        </a>
      {{/if}}
    </div>
  </div>
</nav>
