<h1 class="docs-h1" data-test-class-name>{{class.name}}</h1>

{{! wrapping in a div seems to work around https://github.com/ember-learn/ember-cli-addon-docs/issues/7 }}
<div data-test-class-description>{{{class.description}}}</div>

{{#if (or (and class.exportType showImportPaths) hasToggles)}}
  {{#api/x-meta-panel as |panel|}}
    {{#if class.exportType}}
      {{#panel.header}}
        Import Path
      {{/panel.header}}

      {{api/x-import-path item=class}}
    {{/if}}

    {{#if hasToggles}}
      {{#panel.header}}
        Show
      {{/panel.header}}

      {{#if hasToggles}}
        {{api/x-toggles
          toggles=(hash
            inherited=(if class.hasInherited showInherited)
            protected=(if class.hasProtected showProtected)
            private=(if class.hasPrivate showPrivate)
            deprecated=(if class.hasDeprecated showDeprecated)
          )
        }}
      {{/if}}
    {{/if}}
  {{/api/x-meta-panel}}
{{/if}}

{{#if hasContents}}
  {{api/x-sections
    sections=(hash
      constructors=class.constructors
      fields=class.fields
      accessors=class.accessors
      methods=class.methods
    )
  }}
{{/if}}
