{{#docs-snippet name="your-snippet-name.hbs"}}
  <div id="foo">
    {{#my-awesome-thing
      some=true
      options=false
    }}
      <p>Something old, something new</p>
    {{/my-awesome-thing}}
  </div>
{{/docs-snippet}}

<DocsSnippet @name="your-angle-bracket-snippet-name.hbs">
  <div id="foo">
    {{#my-awesome-thing
      some=true
      options=false
    }}
      <p>Something old, something new</p>
    {{/my-awesome-thing}}
  </div>
</DocsSnippet>

{{#docs-demo data-test-id="docs-demo-basic.hbs" as |demo|}}
  {{#demo.example name="docs-demo-basic.hbs"}}
    <p>I am a <strong>handlebars</strong> template!</p>
    <p>The value is: {{this.val}}</p>
    <div>
      {{input value=this.val class="docs-border"}}
    </div>
  {{/demo.example}}

  {{demo.snippet "docs-demo-basic.hbs"}}
{{/docs-demo}}

<DocsDemo as |demo|>
  <demo.example @name="docs-demo-angle-brackets-basic.hbs">
    <p>I am a <strong>handlebars</strong> template!</p>
    <p>The value is: {{this.otherVal}}</p>
    <div>
      <Input @value={{this.otherVal}} class="docs-border" />
    </div>
  </demo.example>

  <demo.snippet @name="docs-demo-angle-brackets-basic.hbs" />
</DocsDemo>
