{{#each-in sections as |section items|}}
  {{#if items}}
    <section data-test-api-section class="item-section">
      <h2 data-test-section-header={{section}}>{{capitalize section}}</h2>

      {{#each items as |item|}}
        <div data-test-item>
          {{#if (or item.isClass item.isComponent)}}
            <h3 id={{item.name}} data-test-item-header class="item-section__class-header">
              {{#link-to 'docs.api.item' (concat 'root/' item.id)}}
                {{#if (eq item.exportType 'default')}}
                  <span class="item-section__default-label">Default</span>
                {{/if}}
                {{item.name}}
              {{/link-to}}
            </h3>

            {{{item.description}}}
          {{else}}
            <h3 id={{item.name}} data-test-item-header class="item-section__item-header">
              <a href="#{{item.name}}">
                {{#if (eq item.exportType 'default')}}
                  <span class="item-section__default-label">Default</span>
                {{/if}}

                {{type-signature item}}
              </a>
            </h3>

            {{#if item.exportType}}
              {{api/x-import-path data-test-import-path=true item=item}}
            {{/if}}

            <p data-test-item-description>
              {{{item.description}}}
            </p>

            {{api/x-params data-test-item-params=true params=item.params}}
          {{/if}}
        </div>
      {{/each}}
    </section>
  {{/if}}
{{/each-in}}
