{{yield}}

{{#if docsRoutes.previousUrl}}
  <a href="{{docsRoutes.previousUrl}}" class='docs-viewer__page-nav'>
    {{svg-jar 'left-arrow' width=32}}
  </a>
{{/if}}

{{#if docsRoutes.nextUrl}}
  <a href="{{docsRoutes.nextUrl}}" class='docs-viewer__page-nav docs-viewer__page-nav--next'>
    {{svg-jar 'right-arrow' width=32}}
  </a>
{{/if}}
