<div class="docs-viewer__page-header docs-container">
  <a class='docs-viewer__page-header-link' href={{editCurrentPageUrl}}>
    <span class="docs-viewer__page-header-link-icon">
      {{docs-svg-icon 'pencil'}}
    </span>
     Edit this page
   </a>
</div>

{{yield}}

{{#if docsRoutes.previousRoute}}
  {{#link-to params=docsRoutes.previousRoute class='docs-viewer__page-nav'}}
    {{svg-jar 'left-arrow' width=32}}
  {{/link-to}}
{{/if}}

{{#if docsRoutes.nextRoute}}
  {{#link-to params=docsRoutes.nextRoute class='docs-viewer__page-nav docs-viewer__page-nav--next'}}
    {{svg-jar 'right-arrow' width=32}}
  {{/link-to}}
{{/if}}
