<nav class="AddonDocs-DocsViewer-CurrentPageIndex docs-hidden xl:docs-block docs-flex-no-shrink docs-mr-auto" data-test-current-page-index>
  <div class="docs-sticky docs-top-0 docs-pt-4 docs-pb-8 docs-pr-8 docs-max-h-screen docs-overflow-y-scroll">
    <ul class="docs-border-l docs-border-grey-lighter docs-pl-6 docs-leading-normal">
      {{#if pageIndex.length}}
        <li class="docs-mt-12 docs-text-grey docs-font-bold docs-tracking-wide docs-uppercase docs-text-xxs">
          On This Page
        </li>
      {{/if}}

      {{#each pageIndex as |item|}}
        <li class="
          docs-leading-tight docs-tracking-tight
          {{if item.indent (concat "docs-ml-" item.indent)}}
          {{if item.marginTop (concat "docs-mt-" item.marginTop)}}
          {{if item.marginBottom (concat "docs-mt-" item.marginBottom)}}
        "

        data-test-index-item
        >
          <a
            href="#{{item.id}}"
            class="docs-text-grey-dark docs-font-semibold docs-no-underline hover:docs-underline docs-text-{{item.size}}"
          >
            {{item.text}}
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</nav>
