<div class="docs-rounded docs-border docs-border-grey-lighter docs-my-8 {{class}}">

  {{yield (hash
    example=(component "docs-demo/x-example")
    snippet=(component "docs-demo/x-snippet" did-init=(action "registerSnippet") activeSnippet=activeSnippet)
  )}}

  <div>
    {{#if (and snippets (gt snippets.length 1))}}
      <nav class="
        docs-demo__snippets-nav docs-py-2 docs-px-4 docs-font-medium
        docs-bg-black docs-tracking-tight docs-border-b
        docs-border-grey-darkest
      ">
        {{#each snippets as |snippet|}}
          <button {{action "selectSnippet" snippet}}
            class="
              docs-mr-4 docs-text-xs docs-no-underline outline-none
              hover:docs-text-grey-lighter
              {{if snippet.isActive
                "docs-text-grey-lighter"
                "docs-text-grey-dark"
              }}
            "
          >
            {{snippet.label}}
          </button>
        {{/each}}
      </nav>
    {{/if}}

    {{#each snippets as |snippet|}}
      {{#if snippet.isActive}}
        <div class="
          docs-demo__snippet-wrapper docs-bg-code-base docs-rounded-b
        ">
          {{docs-snippet name=snippet.name unindent=true language=snippet.language}}
        </div>
      {{/if}}
    {{/each}}
  </div>

</div>
