<div class="ad-rounded ad-border ad-my-8 {{class}}">

  {{yield (hash
    example=(component 'docs-demo/x-example')
    snippet=(component 'docs-demo/x-snippet' did-init=(action 'registerSnippet') activeSnippet=activeSnippet)
  )}}

  {{#if snippets}}
    <nav class="docs-demo__snippets-nav ad-py-2 ad-px-4 ad-font-medium ad-bg-grey-lighter ad-tracking-tight">
      {{#each snippets as |snippet|}}
        <button {{action 'selectSnippet' snippet}}
          class='
            ad-mr-4 ad-text-sm ad-no-underline outline-none
            hover:ad-text-grey-darkest
            {{if snippet.isActive 'ad-text-grey-darkest' 'ad-text-grey-dark'}}
          '
        >
          {{snippet.label}}
        </button>
      {{/each}}
    </nav>
  {{/if}}

  {{#each snippets as |snippet|}}
    {{#if snippet.isActive}}
      <div class="docs-demo__snippet-wrapper">
        {{docs-snippet name=snippet.name unindent=true language=snippet.language}}
      </div>
    {{/if}}
  {{/each}}

</div>
