<h1>{{model.name}}</h1>

{{! wrapping in a div seems to work around https://github.com/ember-learn/ember-cli-addon-docs/issues/7 }}
<div>{{{model.description}}}</div>

{{#if model.publicProperties}}
  <h2>Properties</h2>
  <ul>
    {{#each model.publicProperties as |property|}}
      <li>{{property.name}}</li>
    {{/each}}
  </ul>
{{/if}}

{{#if model.publicMethods}}
  <h2>Methods</h2>
  <ul>
    {{#each model.publicMethods as |method|}}
      <li>{{method.name}}</li>
    {{/each}}
  </ul>
{{/if}}

<hr>

{{#if model.publicProperties}}
  <h2>Properties</h2>
{{/if}}

{{#each model.publicProperties as |property|}}
  {{#if property.description}}
    <h3>{{property.name}}</h3>
    {{{property.description}}}
  {{/if}}
{{/each}}

{{#if model.methods}}
  <h2>Methods</h2>
{{/if}}

{{#each model.publicMethods as |method|}}
  {{#if method.description}}
    <h3>{{method.name}}({{get methodParams method.name}})</h3>
    {{{method.description}}}
  {{/if}}
{{/each}}
