<header class='ad-border-b ad-shadow-sm'>
  <div class='ad-flex ad-items-center ad-max-w-3xl ad-mx-auto'>
    {{#docs-header/link 'index'}}
      <div class="ad-text-center ad-text-xs">
        {{#if logo}}
          <div class='ad-h-4 ad-pb-1'>
            {{docs-logo logo=logo}}
          </div>
        {{/if}}
        <span class='ad-font-medium ad-normal-case ad-block ad--mt-2px'>{{name}}</span>
      </div>
    {{/docs-header/link}}

    <div class='ad-flex-1 ad-flex ad-items-center ad-overflow-auto ad-overflow-momentum ad-mask-image md:ad-no-mask-image'>
      {{#docs-header/link 'docs'}}
        Documentation
      {{/docs-header/link}}

      {{yield (hash
        link=(component 'docs-header/link')
      )}}

      {{docs-header/search-box query=query on-input=(action (mut query))}}

      {{#docs-header/link on-click=(action (toggle 'isShowingVersionSelector' this)) data-test-id='current-version'}}
        <span data-version-selector class='ad-flex ad-items-center'>

          {{#if (or (eq currentVersion.key latestVersionName))}}
            {{#if currentVersion.tag}}
              {{currentVersion.tag}}
            {{else}}
              Latest
            {{/if}}
          {{else}}
            {{currentVersion.name}}
          {{/if}}

          {{svg-jar 'caret' height=12 width=12}}
        </span>
      {{/docs-header/link}}

      {{#if projectHref}}
        {{#docs-header/link href=projectHref}}
          <span class='ad-flex'>
            {{svg-jar 'github' width=24 height=24}}
          </span>
        {{/docs-header/link}}
      {{/if}}

      {{!-- Something to take up space on mobile, so the scrolling nav isn't hugging the edge --}}
      <div class='ad-h-px ad-px-3 md:ad-hidden'></div>
    </div>
  </div>
</header>

{{#if query}}
  {{docs-header/search-results query=query on-visit=(action 'didVisitPage')}}
{{/if}}

{{#if isShowingVersionSelector}}
  {{docs-header/version-selector on-close=(action (mut isShowingVersionSelector false))}}
{{/if}}
