<header class="docs-shadow docs-relative docs-z-40 docs-bg-white">
  <div class="docs-flex docs-items-center docs-max-w-site-container docs-mx-auto md:docs-px-2">

    {{#docs-header/link "index"}}
      <span class="docs-leading-none docs-font-title docs-text-large-2 docs-font-normal docs-normal-case docs-block docs-mr-6">
        {{#if this.prefix}}
          <div class="docs-text-xxs">
            {{this.prefix}}
          </div>
        {{/if}}
        {{this.name}}
      </span>
    {{/docs-header/link}}

    <div class="docs-flex-1 docs-flex docs-items-center docs-overflow-auto docs-scrolling-touch docs-mask-image md:docs-no-mask-image">
      {{#docs-header/link "docs"}}
        Documentation
      {{/docs-header/link}}

      {{yield (hash
        link=(component "docs-header/link")
      )}}

      <DocsHeader::SearchBox @query={{this.query}} @on-input={{action (mut this.query)}} />

      <DocsHeader::Link @on-click={{action (toggle "isShowingVersionSelector" this)}}>
        <span data-test-id="current-version" data-version-selector class="docs-flex docs-items-center">

          {{#if (eq this.currentVersion.key this.latestVersionName)}}
            {{#if this.currentVersion.tag}}
              {{this.currentVersion.tag}}
            {{else}}
              Latest
            {{/if}}
          {{else}}
            {{this.currentVersion.name}}
          {{/if}}

          {{svg-jar "caret" height=12 width=12}}
        </span>
      </DocsHeader::Link>

      {{#if this.projectHref}}
        <DocsHeader::Link @href={{this.projectHref}}>
          <span class="docs-flex">
            {{svg-jar "github" width=24 height=24}}
          </span>
        </DocsHeader::Link>
      {{/if}}

      {{!-- Something to take up space on mobile, so the scrolling nav isn't hugging the edge --}}
      <div class="docs-h-px docs-px-3 sm:docs-hidden"></div>
    </div>
  </div>
</header>

{{#if this.query}}
  <DocsHeader::SearchResults @query={{this.query}} @on-visit={{action "didVisitPage"}} />
{{/if}}

{{#if this.isShowingVersionSelector}}
  <DocsHeader::VersionSelector @on-close={{action (mut this.isShowingVersionSelector false)}} />
{{/if}}
