<header class='border-b shadow-sm'>
  <div class='flex items-center max-w-3xl mx-auto'>
    {{#docs-header/link 'index'}}
      <div class="text-center text-xs">
        {{#if logo}}
          <div class='h-4 pb-1'>
            {{docs-logo logo=logo}}
          </div>
        {{/if}}
        <span class='font-medium normal-case block -mt-2px'>{{name}}</span>
      </div>
    {{/docs-header/link}}

    <div class='flex-1 flex items-center overflow-auto overflow-momentum mask-image md:no-mask-image'>
      {{#docs-header/link 'docs'}}
        Documentation
      {{/docs-header/link}}

      {{yield (hash
        link=(component 'docs-header/link')
      )}}

      {{docs-header/search-box query=query on-input=(action (mut query))}}

      {{#docs-header/link on-click=(action (toggle 'isShowingVersionSelector' this)) data-test-id='current-version'}}
        <span data-version-selector class='flex items-center'>

          {{#if (or (eq currentVersion.key latestVersionName))}}
            {{#if currentVersion.tag}}
              {{currentVersion.tag}}
            {{else}}
              Latest
            {{/if}}
          {{else}}
            {{currentVersion.name}}
          {{/if}}

          {{svg-jar 'caret' height=12 width=12}}
        </span>
      {{/docs-header/link}}

      {{#if projectHref}}
        {{#docs-header/link href=projectHref}}
          <span class='flex'>
            {{svg-jar 'github' width=24 height=24}}
          </span>
        {{/docs-header/link}}
      {{/if}}

      {{!-- Something to take up space on mobile, so the scrolling nav isn't hugging the edge --}}
      <div class='h-px px-3 md:hidden'></div>
    </div>
  </div>
</header>

{{#if query}}
  {{docs-header/search-results query=query on-visit=(action 'didVisitPage')}}
{{/if}}

{{#if isShowingVersionSelector}}
  {{docs-header/version-selector on-close=(action (mut isShowingVersionSelector false))}}
{{/if}}
