<nav class="docs-hidden lg:docs-block lg:docs-w-1/5 docs-pl-4" data-test-page-index>
  <div class="docs-sticky docs-pin-t docs-pt-4 docs-pb-8 docs--mt-4 docs-max-h-screen docs-overflow-y-scroll">
    <ul class="docs-list-reset docs-border-l docs-border-grey-lighter docs-pl-6 docs-leading-normal">
      {{#if pageIndex.length}}
        <li class="docs-mt-20 docs-text-grey docs-font-bold docs-tracking-wide docs-uppercase docs-text-xs">
          On This Page
        </li>
      {{/if}}

      {{#each pageIndex as |item|}}
        <li class="
          docs-leading-tight
          {{if item.indent (concat 'docs-ml-' item.indent)}}
          {{if item.marginTop (concat 'docs-mt-' item.marginTop)}}
          {{if item.marginBottom (concat 'docs-mt-' item.marginBottom)}}
        "

        data-test-index-item
        >
          <a
            href="#{{item.id}}"
            class="docs-text-grey-dark docs-font-semibold docs-no-underline hover:docs-underline docs-text-{{item.size}}"
          >
            {{item.text}}
            </a>
        </li>
      {{/each}}
    </ul>
  </div>
</nav>
