<h1>Docs Demo</h1>

<p>
  This component provides you with a way to show example code. It also renders the actual template used to generate the example, so you don't have to worry about keeping the code snippet and the live example in sync.
</p>

<p>
  It's also an important part of your addon's testing story. If you write demos for most of your addon's functionality in your documentation app using this helper component, and then write acceptance tests against those demos, your acceptance tests will accomplish two things:
</p>

<ul>
  <li>They verify your addon's behavior</li>
  <li>They ensure all of that behavior is working in your docs site, and up-to-date with your addon's actual APIs</li>
</ul>

<p>
  This saves you from ever having to remember that second step of "updating the docs" every time you change your libary.
</p>

<p>
  Of course, if your addon's components have some edge cases that would muddle up your documentation site too much, you can fall back to using integration tests. But try to keep most of the behavior in the docs pages — that way your users will know about it.
</p>

<h2>Basic usage</h2>

<p>Let's look at a basic example:</p>

{{#docs-demo as |demo|}}
  {{#demo.example name='docs-demo-basic'}}
      <p>I am a <strong>handlebars</strong> template!</p>
      <p>The value is: {{val}}</p>
      <div>
        {{input value=val}}
      </div>
  {{/demo.example}}

  {{demo.snippet 'docs-demo-basic.hbs'}}
{{/docs-demo}}

<p>
  Here's the code that rendered the above demo (you can copy-paste this block to get going in your own app):
</p>

{{#docs-snippet name="docs-demo-basic-src"}}
  {{#docs-demo as |demo|}}
    {{#demo.example nam='docs-demo-basic'}}
        <p>I am a <strong>handlebars</strong> template!</p>
        <p>The value is: {{val}}</p>
        <div>
          {{input value=val}}
        </div>
    {{/demo.example }}

    {{demo.snippet 'docs-demo-basic.hbs'}}
  {{/docs-demo}}
{{/docs-snippet}}

<p>To explain,</p>

<ul>
  <li><code>\{{docs-demo}}</code> is the wrapping component</li>
  <li>The contextual component <code>\{{#demo.example}}\{{/demo.example}}</code> provides a wrapper to display your example. You'll pass a block to this component with the actual code you're demoing - for example, showing off how to use your button.</li>
  <li>You also need to pass a <code>name=</code> to demo.example in order to identify your snippet.</li>
  <li>Finally, the <code>\{{demo.snippet}}</code> component lets you render different named snippets that you've identified via demo.example wrappers or other code comment blocks in your source.</li>
</ul>

<h2>Multiple snippets</h2>

<p>You can render multiple snippets to support your example. This can be useful when part of your example relies on code defined elsewhere, for example in a controller or stylesheet.</p>

<p>Use a file extension to help code-snippet identify and properly syntax highlight your snippet. Templates end in `.hbs`, JavaScript snippets end in `.js`, stylesheets in `.css` or `.scss`.</p>

{{#docs-demo as |demo|}}
  {{#demo.example data-test-id='docs-demo-multiple'}}
    {{!-- BEGIN-SNIPPET docs-demo-multiple --}}
    <button onclick={{action 'toggleIsShowing'}}>
      Press me!
    </button>

    {{#if isShowing}}
      <p>Yep</p>
    {{else}}
      <p>Nope</p>
    {{/if}}
    {{!-- END-SNIPPET --}}
  {{/demo.example}}

  {{demo.snippet 'docs-demo-multiple.hbs'}}
  {{demo.snippet 'docs-demo-multiple.js'}}
{{/docs-demo}}

<h2>Live examples</h2>

<p>You can also make a live example, so your users can edit your demos and try out your components for themselves.</p>

{{#docs-demo as |demo|}}
  {{#demo.live-example name='live-example'}}
    <p>The air up here is {{foo}}</p>

    {{input value=foo}}
  {{/demo.live-example}}
{{/docs-demo}}

<p>Here's the code for this:</p>

{{#docs-snippet name='live-example-src'}}
  {{#docs-demo as |demo|}}
    {{#demo.live-example name='my-live-example'}}
      <p>The air up here is {{foo}}</p>

      {{input value=foo}}
    {{/demo.live-example }}
  {{/docs-demo}}
{{/docs-snippet}}

<p>Note that we're using the <code>demo.live-example</code> contextual component now. This component takes a block as a starting template for the user to see. It then puts that template into the <code>textarea</code>, and every time its value changes the template is recompiled and rerendered.</p>

<p>If there is a template compilation error it should show instead of the rendered output.</p>
