<li class="
  {{if (eq this.style "regular") "docs-mt-8 docs-capitalize"}}
  {{if (eq this.style "large") "docs-mt-8 docs--mb-4 docs-text-xs docs-uppercase"}}
  {{if (eq this.style "subsection") "docs-mt-2 docs-text-sm"}}"
  ...attributes>
  {{#if (has-block)}}
    {{yield}}
  {{else}}
    {{@label}}
  {{/if}}
</li>
