{{#if href}}

  <a href={{href}}
    class='
      docs-px-4 docs-py-3 docs-transition docs-uppercase docs-text-xs docs-font-semibold
      docs-text-grey-darkest docs-no-underline docs-opacity-50 hover:docs-opacity-100
      {{if push 'docs-ml-auto'}}
    '
    data-test-id={{data-test-id}}>
    {{yield}}
  </a>

{{else if on-click}}

  <a {{action on-click}}
    href='#'
    class='
      docs-px-4 docs-py-3 docs-transition docs-uppercase docs-text-xs docs-font-semibold
      docs-text-grey-darkest docs-no-underline docs-opacity-50 hover:docs-opacity-100
      {{if push 'ml-auto'}}
    '
    data-test-id={{data-test-id}}>
    {{yield}}
  </a>

{{else}}

  {{#link-to route
    class=(concat
      'docs-px-4 docs-py-3 docs-transition docs-uppercase docs-text-xs docs-font-semibold
      docs-text-grey-darkest docs-no-underline '
      (if (and (not isActive) (not (eq route 'index'))) 'docs-opacity-50 hover:docs-opacity-100')
    )
    data-test-id=data-test-id
  }}
    {{yield}}
  {{/link-to}}

{{/if}}
