{{#if href}}

  <a href={{href}}
    class='
      ad-px-4 ad-py-3 ad-transition ad-uppercase ad-text-xs ad-font-semibold
      ad-text-grey-darkest ad-no-underline ad-opacity-50 hover:ad-opacity-100
      {{if push 'ad-ml-auto'}}
    '
    data-test-id={{data-test-id}}>
    {{yield}}
  </a>

{{else if on-click}}

  <a {{action on-click}}
    href='#'
    class='
      ad-px-4 ad-py-3 ad-transition ad-uppercase ad-text-xs ad-font-semibold
      ad-text-grey-darkest ad-no-underline ad-opacity-50 hover:ad-opacity-100
      {{if push 'ml-auto'}}
    '
    data-test-id={{data-test-id}}>
    {{yield}}
  </a>

{{else}}

  {{#link-to route
    class=(concat
      'ad-px-4 ad-py-3 ad-transition ad-uppercase ad-text-xs ad-font-semibold
      ad-text-grey-darkest ad-no-underline '
      (if (and (not isActive) (not (eq route 'index'))) 'ad-opacity-50 hover:ad-opacity-100')
    )
    data-test-id=data-test-id
  }}
    {{yield}}
  {{/link-to}}

{{/if}}
