<div class="text-center text-grey-darkest py-8 md:py-16">
  <div class='docs-container'>
    <h1 class='text-5xl leading-none'>
      {{#if hasBlock}}
        {{yield}}
      {{else if logo}}
        <div>
          <span class='inline-block h-6'>
            {{docs-logo logo=logo}}
          </span>
        </div>
      {{/if}}

      <span class='font-thin'>{{slimHeading}}</span>{{strongHeading}}
    </h1>

    <p class='text-grey-darker text-lg mt-4 w-3/4 mx-auto leading-tight'>
      {{byline}}
    </p>
  </div>
</div>
