<div class="text-center text-black py-8">
  <div class=''>
    <h1 class='text-5xl leading-none'>
      {{#if hasBlock}}
        {{yield}}
      {{else if logo}}
        <div>
          <span class='inline-block h-6'>
            {{docs-logo logo=logo}}
          </span>
        </div>
      {{/if}}

      <span class='font-thin'>{{slimHeading}}</span>{{strongHeading}}
    </h1>
    <p class='opacity-75 text-lg mt-4'>{{byline}}</p>
  </div>
</div>
