<div class="p-4">
  {{#if error}}
    <p>{{error}}</p>
  {{else if compiledTemplateA}}
    {{docs-demo/x-live-example-demo compiledTemplate=compiledTemplateA}}
  {{else if compiledTemplateB}}
    {{docs-demo/x-live-example-demo compiledTemplate=compiledTemplateB}}
  {{/if}}
</div>

{{ember-ace value=rawTemplate
  class='p-4 bg-grey-lightest shadow-inner border-t'
  mode='ace/mode/handlebars'
  showPrintMargin=false
  showGutter=false
  highlightActiveLine=false
  minLines=5
  maxLines=20
  update=(action 'recompile')}}
