{{!-- BEGIN-SNIPPET docs-viewer --}}
{{! tests/dummy/app/pods/docs/template.hbs }}
{{#docs-viewer as |viewer|}}

  {{#viewer.nav as |nav|}}
    {{nav.item 'Introduction' 'docs.index'}}
    {{nav.item 'Usage' 'docs.usage'}}
    {{nav.item 'Quickstart' 'docs.quickstart'}}
    {{nav.item 'Patterns' 'docs.patterns'}}
    {{nav.item 'Components' 'docs.components.index'}}
    {{#nav.subnav as |nav|}}
      {{nav.item 'Hero' 'docs.components.docs-hero'}}
      {{nav.item 'Logo' 'docs.components.docs-logo'}}
      {{nav.item 'Navbar' 'docs.components.docs-navbar'}}
      {{nav.item 'Snippet' 'docs.components.docs-snippet'}}
      {{nav.item 'Viewer' 'docs.components.docs-viewer'}}
      {{nav.item 'Demo' 'docs.components.docs-demo'}}
    {{/nav.subnav}}
  {{/viewer.nav}}

  {{#viewer.main}}
    <div class="docs-container docs__center">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  {{/viewer.main}}

{{/docs-viewer}}
{{!-- END-SNIPPET --}}
