{{#docs-viewer as |viewer|}}

  {{#viewer.nav as |nav|}}
    {{nav.item 'Home' 'docs.index'}}
    {{nav.item 'Quickstart' 'docs.quickstart'}}
    {{nav.item 'Patterns' 'docs.patterns'}}
    {{nav.item 'Components' 'docs.components.index'}}
    {{#nav.subnav as |nav|}}
      {{nav.item 'Docs Hero' 'docs.components.docs-hero'}}
      {{nav.item 'Docs Logo' 'docs.components.docs-logo'}}
      {{nav.item 'Docs NavBar' 'docs.components.docs-navbar'}}
      {{nav.item 'Docs Viewer' 'docs.components.docs-viewer'}}
      {{nav.item 'Docs Demo' 'docs.components.docs-demo'}}
    {{/nav.subnav}}

    {{nav.item 'API Reference' 'docs.api'}}
  {{/viewer.nav}}

  {{#viewer.main}}
    <div class="docs-container docs__center">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  {{/viewer.main}}

{{/docs-viewer}}
